# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/.gradle/
android/captures/
android/key.properties
android/app/*.jks
android/app/*.keystore
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Локальные артефакты сборки
dist/
*.apk
*.aab
